<template>
  <div>
    <h1>{{question.title}}</h1>
    <div v-for="(answer) in question.answers" :key="answer.id" @click="checkResult(answer)">
      {{answer.title}}
    </div>

    <div class="tips">
      <div class="button_tip" @click="removeHalf()">50/50</div>
      <div class="button_tip" @click="callFriend()">Звонок другу</div>
      <div class="button_tip" @click="helpOfAuditory()">Помощь зала</div>
    </div>

  </div>
</template>

<script>
import QuestionService from "../_services/QuestionsService";

export default {
  name: 'Question',
  props: {
  },
  data() {
    return {
      question: QuestionService.getRandomOne()
    }
  },
  methods: {
      removeHalf() {
        let tempArr = [];
        for (let i = 0; i <= this.question.answers.length - 1; i++) {
          if (this.question.answers[i].isValid) {
            tempArr.push(this.question.answers[i]);
            this.question.answers.splice(i, 1);
            break;
          }
        }
        tempArr.push(this.getRandomOneAnswer());
        this.question.answers = tempArr;
      },
      callFriend() {
        alert("Даша, помоги \r\n ответ: " + this.getRandomOneAnswer().title)
      },
      helpOfAuditory() {
        alert("Большинство зала считает, что правильный ответ - " + this.getRandomOneAnswer().title)

      },
      getRandomOneAnswer() {
        return this.question.answers[Math.floor(Math.random() * this.question.answers.length)]
      },
      checkResult(answer) {        
         if (answer.isValid) {
           alert("Правильно!")
         } else {
           alert ("Неверный ответ")
         }
      }
  }

}
</script>

<style scoped>
</style>
