<template>
  <div id="app">
    <Question></Question>
  </div>
</template>

<script>
import Question from './components/Question';

export default {
  name: 'App',
  components: {
    Question
  }
}
</script>

<style>
body {
  padding: 0;
  margin: 0;
  background: url(./assets/bg.jpg);
  background-size: cover;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}
</style>
